:root {
	/* colors */
	--global--color-red: rgba(204,0,0,1);
	--global--color-orange: rgba(255,219,34,1);
	--global--color-black: rgba(46,46,46, 1);
	--global--color-black-30:rgba(46,46,46, 0.3);
	--global--color-black-70: rgba(46,46,46,0.7);
	--global--color-grey:rgba(243, 243, 242, 1);
	--global--color-white: rgba(255,255,255,1);
	--global--color-white-50: rgba(255, 255, 255, 0.5);
	--global--color-white-0: rgba(255, 255, 255, 0);
	--global--color-figcaption: rgba(176, 176, 176, 1);
	/* align */
	--alignleft-margin:var(--global-spacing-horizontal);
	--alignright-margin:var(--global-spacing-horizontal);
	--global--aligncenter: calc(100vw * 0.5);
	/*animation*/
	--typeSpeed: 3s;
	--typeCharacters: 23;
	/*links*/ 
	--links-normal-color: rgba(204,0,0,1);
	--links-hover-color: rgba(176, 42, 55, 1);
}
header.main {height: 200vh;}
.second_container {
	/* hide fixed overflow contents */
	clip: rect(0, auto, auto, 0);
  
	/* does not work if overflow = visible */
	overflow: hidden;
  
	/* only works with absolute positioning */
	position: absolute;
  
	/* Make sure containers are full-width and height */
	height: 100vh;
	left: 0;
	width: 100%;
	-webkit-mask-image: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 100%);
	-o-mask-image:-webkit-linear-gradient(top, #ffffff 0%,#ffffff 100%);
	-moz-mask-image:-webkit-linear-gradient(top, #ffffff 0%,#ffffff 100%);
	mask-image:-webkit-linear-gradient(top, #ffffff 0%,#ffffff 100%);
  }
  
  .container_solid {
	background: var(--global--color-white);
	top: 0;
  }
  .title_wrapper {
	position: fixed;
	display: block;  
	margin: auto;
	width: 100%;
	/* center the text wrapper vertically */
	top: 50%;
	-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
			transform: translateY(-50%);
  }
  
  .title_wrapper h1 {
	text-align: center;
	font-size: 64px;
	text-transform: uppercase;
	font-weight: 900;
  }
  
  .container_solid .title_wrapper h1 {
	background-size: cover;
	background-position: center;
	
	/* clip the text is possible */
	/*text-fill-color: var(--global--color-black-30);*/
	-webkit-text-fill-color: var(--global--color-black-30);
	background-clip: text;
	-webkit-background-clip: text;
	
	/* fallback text color */
	color: var(--global--color-black);
  }